/****************************************

	colors

 ****************************************/
 
$silver-blue:		#D9D9FF;
$light-silver-blue:	#F0F0FF;
$deep-silver-blue:	#E9E9FF;
$dark-silver-blue:	#C9C9FF;

$black:				#000000;