/****************************************

	colors

 ****************************************/
$silver-blue:		#D9D9FF;
$deep-silver-blue:	#E9E9FF;

$navigation-color:	$silver-blue;
$bg-color:			$deep-silver-blue;