/****************************************

	content

 ****************************************/



 .content {
 	@extend .width-90-pct;
	margin: 10px auto;
	display: block;
 }

 .content-cell { 
 	@extend .content;
 	height: 250px; 
 }
 .content-cell-dbl	{ 
 	@extend .content;
 	height: 500px; 
 }