/****************************************

	content

 ****************************************/

 /****************************************

	note: maybe add border between 
	sections of content?

 ****************************************/




%content-base {
	display: block;
 	overflow: hidden;
}

.content-block {
	@extend %content-base;
}

.content-cell { 
 	@extend %content-base; 	
 	height: 250px; 

	h3 {
		line-height: 0.8em;
		margin-bottom: 10px;
	}
	p {
		text-indent: 25px;
	}
}

.content-cell-dbl	{ 
	@extend .content-cell;
 	height: 550px; 
}