
@media only screen and (min-width: 480px)
{/*
	.headfoot {
		height: 100px;
		width: 100%;
	}
	
	.nav {
		width: 0;
	}
	
	.panel {
		width: 100%;
	}
	
	.content {
		height: 200px;
		width: 90%;
		margin: 10px auto;
		display: block;
	}*/
}