/****************************************

	panels partial

 ****************************************/



$panel-margin:		1%;
$panel-padding:		1.5%;
$third-width:		33.333333%; 
$half-width:		50%;
$max-width:			100%;

%panel-base {
	@extend %left;
	@include shadow-box(-1px,  1px,  2px,  0px, 185, 185, 255, 0.8, 
						 1px, -1px,  2px,  0px, 185, 185, 255, 0.8);
 	@include transitions(all, 0.5s, ease-out);

	background-color: $deep-silver-blue;
	margin: 1em $panel-margin;
	padding: 1em $panel-padding;
	width: $max-width - (2 * ($panel-margin + $panel-padding));
	position: relative;
	display: block;
 	overflow: hidden;
 	height: 20em;

	%panel-base {
		@include shadow-box(-1px,  1px,  2px,  0px, 169, 169, 255, 0.8, 
							 1px, -1px,  2px,  0px, 169, 169, 255, 0.8);
		background-color: $silver-blue;
	}

	& div {
		overflow: hidden;
		height: 14.5em;
	}
}
a%panel-base:hover {
 	background-color: #b9b9ff;
	@include shadow-box(-1px,  1px,  2px,  0px, 153, 153, 255, 0.8, 
						 1px, -1px,  2px,  0px, 153, 153, 255, 0.8);
}

a%panel-base:after {
	content: "More \2192";
	position: absolute;
	right: 1em;
	bottom: 1em;
	background-color: $silver-blue;
	border-radius: 1em;
	padding: 3px;
	box-shadow: 0 0 10px 5px $dark-silver-blue;
}

.panel1,
.panel2,
.panel3 {
	@extend %panel-base;
}

.panel2 {
	@media only screen and (min-width: 960px) {
		& .panel1 {
			width: $half-width - (2 * ($panel-margin + $panel-padding));
			height: 20em - 2em - 2em - 1.5em;
		}
	}

	@media only screen and (min-width: 1280px) {
		width: (2 * $third-width) - (2 * ($panel-margin + $panel-padding));
	}
}

.panel1 {
	@media only screen and (min-width: 960px) {
		width: $half-width - (2 * ($panel-margin + $panel-padding));
	}

	@media only screen and (min-width: 1280px) {
		width: $third-width - (2 * ($panel-margin + $panel-padding));
	}
}

.panel-dbl { 
	height: 44em;

	& div {
		height: 44em;
	}
}