/****************************************

%panels partial

 ****************************************/



%panel {
	@extend .left;
	@extend .width-100-pct;
}

.panel1,
.panel2,
.panel3 {
	@extend %panel;
}

.panel2 {
	@media only screen and (min-width: 1280px) {
		width: 66.666666%;
	}
}

.panel1 {
	@media only screen and (min-width: 960px) {
		width: 50%;
	}

	@media only screen and (min-width: 1280px) {
		width: 33.333333%;
	}
}