/****************************************

	quotes

 ****************************************/



.char-quotes { 
	background: $deep-silver-blue;
	padding: 10px;
	margin: 2%;
	//width: 42%;
	float: left;
	border-radius: 15px;
	box-shadow: inset 2px 2px 1px $silver-blue, 5px 4px 10px $dark-silver-blue;

	& p {
		font-style: italic;
		text-indent: 50px;
		position: relative;
	}

	& p:before {
		content: '\201C';
		font-size: 75px;
		font-weight: 700;
		position:absolute;
		top: -38px;
		left: -48px;
		color: #9f9fff;
		text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	}

	& p:after {
		/*content: '\2019';
		font-size: 50px;
		font-weight: 700;
		position: absolute;
		right: 5px;
		color: $dark-silver-blue;
		text-shadow: 5px 5px 5px rgba(0,0,0,0.2);*/
	}
}