/****************************************

	base selectors

 ****************************************/



%reset			{ margin: 0; }
%header-styles { 
	font-family: OratorStd; 
	font-weight: normal;
	@extend .left; // tempfix for panel-content headers
}

a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

body {
	@extend %reset;
	background-color: $deep-silver-blue;
}

h1 {
	@extend %reset;
	@extend %header-styles; 
	font-size: 2.5em;
	margin-bottom: 10px;
}
h2 {
	@extend %reset;
	@extend %header-styles; 
	font-size: 2.0em;
	font-style: oblique;
	margin-bottom: 10px;
}
h3 {
	@extend %reset;
	@extend %header-styles; 
	font-size: 1.5em;
}
h4 {
	@extend %reset;
	@extend %header-styles; 
	font-size: 1.25em;
}

p {
	@extend %reset;
	font-family: Georgia, serif;
	font-size: 1.0em;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}