/****************************************

	tables

 ****************************************/



.char-table {
	border-collapse: collapse;
	font-size: 1.1em;
	margin: 0 2%;
	width: 96%;

	& thead tr {
		border-bottom: 2px solid $dark-silver-blue;

		th {
			text-align: left;
		}
	}
	
	& tr td {
		padding-top: 5px;
	}

	& td:first-child {
		width: 33.333333%;
	}
	& td:last-child {
		width: 66.666666%;
	}
}