/****************************************

	tables

 ****************************************/



.char-table {
	border-collapse: collapse;
	font-size: 1.1em;
	margin: 0 2%;
	width: 96%;

	& thead tr {
		border-bottom: 2px solid $dark-silver-blue;

		th {
			text-align: left;
		}
	}
	
	& td {
		padding-top: 5px;
	}

	& td:first-child {
		@extend %width-33-pct;
	}
	& td:last-child {
		@extend %width-66-pct;
	}

	& td a {
		border-bottom: 2px dotted $dark-silver-blue;
	}
	& td a:hover {
		color: #00b;
	}
}