/****************************************

	tables

 ****************************************/



.char-table {
	width: 100%;

	& td:first-child {
		width: 33.333333%;
	}

	& td:last-child {
		width: 66.666666%;
	}
}