/****************************************

	css document

	created by: Eric 'Zander' Nelson
	created on:	October 30, 2013 
	version ##:	beta.2

	zandernelsoninc

 ****************************************/
/****************************************

	scss base partial imports

 ****************************************/
/****************************************

	colors

 ****************************************/
/****************************************

	fonts

 ****************************************/
@font-face {
  font-family: OratorStd;
  src: url(../personal-site/font/OratorStd.otf); }

/****************************************

	@mix-ins

 ****************************************/
/****************************************

	creates an effect that makes it seem 
	that the box is popping in/out of 
	the page

 ****************************************/
/****************************************

	base selectors

 ****************************************/
body, h1, h2, h3, h4, p {
  margin: 0; }

h1, h2, h3, h4 {
  font-family: OratorStd;
  font-weight: normal; }

a {
  text-decoration: none;
  color: #000;
  cursor: pointer; }

body {
  background-color: #e9e9ff; }

h1 {
  font-size: 2.5em;
  margin-bottom: 10px; }

h2 {
  font-size: 2.0em;
  font-style: oblique;
  margin-bottom: 10px; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

p {
  font-family: Georgia, serif;
  font-size: 1.0em;
  margin-bottom: 10px; }
  p:last-child {
    margin-bottom: 0; }

/****************************************

	navigation partial

 ****************************************/
.nav {
  font-family: OratorStd;
  text-shadow: 0 1px 1px #fff;
  line-height: 14px;
  font-size: 1.1em; }
  @media only screen and (min-width: 60em) {
    .nav {
      height: 100%;
      width: 176px;
      position: fixed;
      margin-top: 100px; } }

/****************************************

	tables

 ****************************************/
.char-table {
  border-collapse: collapse;
  font-size: 1.1em;
  margin: 0 2%;
  width: 96%; }
  .char-table tr:first-child {
    border-bottom: 2px solid #c9c9ff; }
  .char-table tr:nth-child(2) td {
    padding-top: 5px; }
  .char-table td:first-child {
    width: 33.333333%; }
  .char-table td:last-child {
    width: 66.666666%; }

/****************************************

	quotes

 ****************************************/
.char-quotes {
  background: #e9e9ff;
  padding: 10px;
  margin: 2%;
  float: left;
  border-radius: 15px;
  box-shadow: inset 2px 2px 1px #d9d9ff, 5px 4px 10px #c9c9ff; }
  .char-quotes p {
    font-style: italic;
    text-indent: 40px;
    position: relative; }
  .char-quotes p:before {
    content: '\2018';
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    top: -15px;
    left: -45px;
    color: #c9c9ff;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); }
  .char-quotes p:after {
    content: '\2019';
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    right: 5px;
    color: #c9c9ff;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); }

/****************************************

	parent classes

 ****************************************/
.nav, .head,
.foot, .container, .panel1,
.panel2,
.panel3, .panel-block {
  float: left; }

.width-100-pct, .head,
.foot, .container {
  width: 100%; }

.width-90-pct {
  width: 90%; }

.width-50-pct {
  width: 50%; }

.width-33-pct {
  width: 33.333333%; }

.width-66-pct {
  width: 66.666666%; }

.center, .head,
.foot {
  display: block;
  margin: 0 auto;
  text-align: center; }

/****************************************

	site button

 ****************************************/
.button {
  height: 25px;
  cursor: pointer;
  margin: 0 10px;
  padding-right: 10px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }
  .button a {
    text-decoration: none;
    text-shadow: 0 1px 1px #fff;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 10px;
    margin-right: 5px;
    color: #000; }
  .button:hover {
    -webkit-box-shadow: inset -3px 3px 2px 0px rgba(255, 255, 255, 0.7), inset 2px -2px 2px 0px rgba(50, 50, 50, 0.7);
    -moz-box-shadow: inset -3px 3px 2px 0px rgba(255, 255, 255, 0.7), inset 2px -2px 2px 0px rgba(50, 50, 50, 0.7);
    box-shadow: inset -3px 3px 2px 0px rgba(255, 255, 255, 0.7), inset 2px -2px 2px 0px rgba(50, 50, 50, 0.7);
    border-radius: 2px; }
  .button:hover a {
    padding: 4px 0 6px 10px; }
  .button:active {
    -webkit-box-shadow: inset -2px 2px 2px 0 rgba(50, 50, 50, 0.7), inset 2px -2px 2px 0 rgba(255, 255, 255, 0.7);
    -moz-box-shadow: inset -2px 2px 2px 0 rgba(50, 50, 50, 0.7), inset 2px -2px 2px 0 rgba(255, 255, 255, 0.7);
    box-shadow: inset -2px 2px 2px 0 rgba(50, 50, 50, 0.7), inset 2px -2px 2px 0 rgba(255, 255, 255, 0.7); }
  .button:active a {
    padding: 6px 0 4px 10px; }

.clearfix {
  overflow: auto; }

.container {
  background-color: #d9d9ff; }

.head,
.foot {
  background-color: #0F0; }

.main {
  background-color: #f0f0ff; }

/****************************************

	scss @media partial imports

 ****************************************/
@media only screen and (min-width: 480px) {
 /*
	.headfoot {
		height: 100px;
		width: 100%;
	}
	
	.nav {
		width: 0;
	}
	
	.panel {
		width: 100%;
	}
	
	.content {
		height: 200px;
		width: 90%;
		margin: 10px auto;
		display: block;
	}*/ }
@media only screen and (min-width: 600px) {
 /*
	.headfoot {
		height: 100px;
		width: 100%;
	}
	
	.nav {
		width: 0;
	}
	
	.panel {
		width: 50%;
	}
	
	.content {
		height: 200px;
		width: 90%;
		margin: 10px auto;
		display: block;
	}*/ }
/****************************************

	@media 960px partial

 ****************************************/
@media only screen and (min-width: 960px) {
  .head,
  .foot {
    height: 100px; }

  .head img,
  .foot img {
    display: none; }

  .main {
    margin-left: 11em;
    padding-left: 1em; } }
/****************************************

	@media 1280px partial

 ****************************************/
@media only screen and (min-width: 1280px) {
  .head,
  .foot {
    height: auto;
    max-width: 1400px; }

  .head img,
  .foot img {
    display: block;
    margin: 0 auto; }

  .container {
    max-width: 1400px; } }
/****************************************

	panels partial

 ****************************************/
.panel1,
.panel2,
.panel3 {
  -webkit-box-shadow: inset -1px 1px 2px 0px rgba(185, 185, 255, 0.8), inset 1px -1px 2px 0px rgba(185, 185, 255, 0.8);
  -moz-box-shadow: inset -1px 1px 2px 0px rgba(185, 185, 255, 0.8), inset 1px -1px 2px 0px rgba(185, 185, 255, 0.8);
  box-shadow: inset -1px 1px 2px 0px rgba(185, 185, 255, 0.8), inset 1px -1px 2px 0px rgba(185, 185, 255, 0.8);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background-color: #e9e9ff;
  margin: 10px 1%;
  padding: 15px 1.5%;
  width: 95%; }
  .panel1 .panel1,
  .panel2 .panel1,
  .panel3 .panel1,
  .panel1 .panel2,
  .panel2 .panel2,
  .panel3 .panel2,
  .panel1 .panel3,
  .panel2 .panel3,
  .panel3 .panel3 {
    -webkit-box-shadow: inset -1px 1px 2px 0px rgba(169, 169, 255, 0.8), inset 1px -1px 2px 0px rgba(169, 169, 255, 0.8);
    -moz-box-shadow: inset -1px 1px 2px 0px rgba(169, 169, 255, 0.8), inset 1px -1px 2px 0px rgba(169, 169, 255, 0.8);
    box-shadow: inset -1px 1px 2px 0px rgba(169, 169, 255, 0.8), inset 1px -1px 2px 0px rgba(169, 169, 255, 0.8);
    background-color: #d9d9ff; }

a.panel1:hover,
a.panel2:hover,
a.panel3:hover {
  background-color: #c9c9ff;
  -webkit-box-shadow: inset -1px 1px 2px 0px rgba(153, 153, 255, 0.8), inset 1px -1px 2px 0px rgba(153, 153, 255, 0.8);
  -moz-box-shadow: inset -1px 1px 2px 0px rgba(153, 153, 255, 0.8), inset 1px -1px 2px 0px rgba(153, 153, 255, 0.8);
  box-shadow: inset -1px 1px 2px 0px rgba(153, 153, 255, 0.8), inset 1px -1px 2px 0px rgba(153, 153, 255, 0.8); }

.panel-block {
  width: 98%;
  margin: 10px 10px 0; }
  .panel-block h2 {
    border-top: 1px solid #c9c9ff;
    padding-top: 5px; }

@media only screen and (min-width: 1280px) {
  .panel2 {
    width: 61.66667%; } }

@media only screen and (min-width: 960px) {
  .panel1 {
    width: 45%; } }
@media only screen and (min-width: 1280px) {
  .panel1 {
    width: 28.33333%; } }

/****************************************

	content

 ****************************************/
.content-cell, .content-cell-dbl {
  display: block;
  overflow: hidden; }
  .content-cell h3, .content-cell-dbl h3 {
    line-height: 0.8em;
    margin-bottom: 10px; }
  .content-cell p, .content-cell-dbl p {
    text-indent: 25px; }

.content-cell {
  height: 250px; }

.content-cell-dbl {
  height: 550px; }
